<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>авторизация</title>
</head>
<body>
  <form>
        <p><input type="text" name="login" maxlength="10" autocomplete placeholder="введите логин" required></p>
        <p><input type="password" name="password" maxlength="10" autocomplete placeholder="введите пароль" required></p>
        <button type="submit" formmethod="post">Войти</button>
    </form>

    <button><a href="meme%20page.html">смотрец мемы</a></button>
</body>
</html>