@font-face {
	font-family: "days";
	src: url("days.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "robotoslab";
	src: url("robotoslabregular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "rubikmono";
	src: url("RubikMonoOne.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

body
{
    margin: 0;
    background-color: rgba(255, 248, 211, 1);
    font-family: "days";
}

header
{
	font-family: days;
	color: rgba(10, 25, 78, 1);
	font-size: 20px;
	margin-left: 17vw;
	margin-right: 10px;
}

header > div
{
	display: inline-block;
	margin-right: 10px;
}

header > div > img
{
	width: 56px;
	height: 61px;
}

:root
{
	--smallTextColor: #FFF8D3;
	--bigTextandButtons:rgba(10, 25, 78, 1);
	--smallButtons:rgba(34, 58, 146, 1);
	--extraTextColor:white;
	--transparentRectangle: rgba(10, 25, 78, 0.62);
}

main a
{
	text-decoration: none;
	color: var(--smallTextColor);
}

a
{
	text-decoration: none;
	color: var(--bigTextandButtons);
}