<!DOCTYPE html>
<html lang="ru,en">
<head>
    <link rel="stylesheet" type="text/css" href="main%20page%20style.css">
    <link rel="stylesheet" type="text/css" href="header-footer.css">
    <meta charset="UTF-8">
    <title>Сомнительные поводы отпраздновать</title>
</head>
<body>
    <header>
        <div><img src="header.png"></div>
        <div><h1><a href="main%20page.html">
            сомнительные поводы отпраздновать</a></h1></div>
        <div><img src="header.png"></div>
    </header>

    <main>

        <div class="square"><p>Равным образом начало повседневной работы по формированию позиции требуют определения и
            уточнения направлений прогрессивного развития. Значимость этих проблем настолько очевидна,
            что рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие
            в формировании соответствующий условий активизации. Повседневная практика показывает,
            что консультация с широким активом в значительной степени обуславливает создание соответствующий
            условий активизации.</p></div>
        <div class="choice">
            <button id="button1"><a href="registration%20form.html" >авторизироваться</a></button>
            <button id="button2"><a href="meme%20page.html">продолжить без авторизации</a></button>
        </div>
    </main>

    <div class="footer">
			    <div class="content">
					    <p>By <a href="https://vk.com/bluecheeks" target="_blank">nodlya</a></p>
					    <p>By Биборь</p>
					    <p>By Кара Небесная</p>
			    </div>
    </div>
</body>
</html>