main
{
	height: 500px;
	background-image: url("3e80dfb3322097cf0a62f320c98d8426.jpg");

	background-repeat: repeat-x;
	position: relative;
}

.square
{
	background: var(--transparentRectangle);
	box-sizing: border-box;
	width: 50%;
	height: 100%;
	display: block;
	float: left;
	color:var(--smallTextColor);
}
.square p
{
	font-family: robotoslab;
	padding: 20% 10%;
}

.choice
{
	position: relative;
	margin-left: 25vw;
	padding: 10% 35% 10%;
}

#button1
{
	font-family: rubikmono;
	font-size: 24px;
	color: var(--smallTextColor);
	background-color: var(--bigTextandButtons);
	border-radius: 20px;
	width: 496px;
	height: 114px;
	margin-bottom: 10px;
}

#button2
{
	font-family: rubikmono;
	font-size: 14px;
	color: var(--extraTextColor);
	background-color: var(--smallButtons);
	border-radius: 20px;
	width: 385px;
	height: 74px;
	margin-left: 55px;

}




.footer
{
	font-family: "robotoslab";
	color: var(--bigTextandButtons);
	margin-left: 10px;
	margin-top: 26px;
}


