<!DOCTYPE html>
<html lang="ru,en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="header-footer.css">
    <link rel="stylesheet" type="text/css" href="meme%20page%20style.css">
    <title>Сомнительные поводы отпраздновать</title>
</head>

<body>

    <header>
        <div><img src="header.png"></div>
         <div><h1><a href="main%20page.html">сомнительные поводы отпраздновать</a></h1></div>
        <div><img src="header.png"></div>
    </header>

    <main>
        <img class="meme" src="exampleMeme.jpg">
        <div class="square"><p class="header">С днём соулмейта, user</p> <p class="maintext">Таким образом начало повседневной работы по формированию
            позиции влечет за собой процесс внедрения и модернизации форм развития.
            С другой стороны реализация намеченных плановых заданий требуют определения
            и уточнения модели развития.</p></div>
        <div class="choice">
            <button id="button1"><a >отпраздную</a></button>
            <button id="button2"><a >мне не нраица(</a></button>
        </div>
    </main>

<div class="footer">
			    <div class="content">
					    <p>By <a href="https://vk.com/bluecheeks" target="_blank">nodlya</a></p>
					    <p>By Биборь</p>
					    <p>By Кара Небесная</p>
			    </div>
    </div>
</body>
</html>