<!DOCTYPE html>
<html lang="ru,en">
<head>
    <meta charset="UTF-8">
    <title>регистрация</title>
     <link rel="script" href="registration.py">
</head>
<body>
    <form>
        <p><input type="text" name="login" maxlength="10" autocomplete placeholder="введите логин"></p>
        <p><input type="password" name="password" maxlength="10" autocomplete placeholder="введите пароль"></p>
        <p><input type="text" name="name" maxlength="10" placeholder="как нам к вам обращаться"></p>
        <button type="submit" formmethod="post">Зарегистрироваться</button>

    </form>
    <button> <a href="autorisation%20form.html">Уже есть аккаунт</a></button>
    <button><a href="meme%20page.html">смотрец мемы</a></button>
</body>
</html>