<!DOCTYPE html>
<html lang="ru,en">
<head>
    <link rel="stylesheet" type="text/css" href="main%20page%20style.css">
    <link rel="stylesheet" type="text/css" href="header-footer.css">
    <meta charset="UTF-8">
    <title>Сомнительные поводы отпраздновать</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="js/modernizr.js"></script>
</head>
<body>
<style>
	li {
    list-style-type: none; /* Убираем маркеры */
   }
   ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
   }
</style>
    <header>
        <div><img src="header.png"></div>
        <div><h1><a href="main%20page.html">
            сомнительные поводы отпраздновать</a></h1></div>
        <div><img src="header.png"></div>
    </header>

    <main>

        <div class="square"><p>Равным образом начало повседневной работы по формированию позиции требуют определения и
            уточнения направлений прогрессивного развития. Значимость этих проблем настолько очевидна,
            что рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие
            в формировании соответствующий условий активизации. Повседневная практика показывает,
            что консультация с широким активом в значительной степени обуславливает создание соответствующий
            условий активизации.</p></div>
        <div class="choice">
            <nav class="main-nav">
				<ul>
					<li><button id="button1"><a class="cd-signin" href="#" >авторизироваться</a></button></li>
				</ul>
			</nav>
            <button id="button2"><a href="meme%20page.html">продолжить без авторизации</a></button>
        </div>
    </main>

    <div class="footer">
			    <div class="content">
					    <p>By <a href="https://vk.com/bluecheeks" target="_blank">nodlya</a></p>
					    <p>By Биборь</p>
					    <p>By Кара Небесная</p>
			    </div>
    </div>

<div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
		<div class="cd-user-modal-container"> <!-- this is the container wrapper -->
			<ul class="cd-switcher">
				<li><a href="#0">Вход</a></li>
				<li><a href="#0">Регистрация</a></li>
			</ul>

			<div id="cd-login"> <!-- log in form -->
				<form class="cd-form">
					<p class="fieldset">
						<label class="image-replace cd-email" for="signin-email">E-mail</label>
						<input class="full-width has-padding has-border" id="signin-email" type="email" placeholder="E-mail">
						<span class="cd-error-message">Ошибка!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" for="signin-password">Password</label>
						<input class="full-width has-padding has-border" id="signin-password" type="text"  placeholder="Пароль">
						<a href="#0" class="hide-password">Hide</a>
						<span class="cd-error-message">Ошибка!</span>
					</p>

					<p class="fieldset">
						<input type="checkbox" id="remember-me" checked>
						<label for="remember-me">Запомнить меня</label>
					</p>


					<p class="fieldset">
						<input class="full-width" type="submit" value="Вход">
					</p>
				</form>

				<p class="cd-form-bottom-message"><a href="#0">Забыли пароль?</a></p>
				<!-- <a href="#0" class="cd-close-form">Close</a> -->
			</div> <!-- cd-login -->

			<div id="cd-signup"> <!-- sign up form -->
				<form class="cd-form">
					<p class="fieldset">
						<label class="image-replace cd-username" for="signup-username">Username</label>
						<input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Логин">
						<span class="cd-error-message">Ошибка!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-email" for="signup-email">E-mail</label>
						<input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail">
						<span class="cd-error-message">Ошибка!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" for="signup-password">Password</label>
						<input class="full-width has-padding has-border" id="signup-password" type="text"  placeholder="Пароль">
						<a href="#0" class="hide-password">Hide</a>
						<span class="cd-error-message">Ошибка!</span>
					</p>
					<p class="fieldset">
						Темы праздников
					</p>
						<ul class="wrap">
							<li>
								<p class="fieldset">
									<input type="checkbox" id="accept-terms">
									<label for="accept-terms">Аниме</label>
								</p>
							</li>
							<li>
								<p class="fieldset">
									<input type="checkbox" id="accept-terms">
									<label for="accept-terms">Еда</label>
								</p>
							</li>
							<li>
								<p class="fieldset">
									<input type="checkbox" id="accept-terms">
									<label for="accept-terms">18+</label>
								</p>
							</li>
							<li>
								<p class="fieldset">
									<input type="checkbox" id="accept-terms">
									<label for="accept-terms">Музыка</label>
								</p>
							</li>
							<li>
								<p class="fieldset">
									<input type="checkbox" id="accept-terms">
									<label for="accept-terms">ИТ</label>
								</p>
							</li>
							<li>
								<p class="fieldset">
									<input type="checkbox" id="accept-terms">
									<label for="accept-terms">Студенты</label>
								</p>
							</li>
						</ul>
					<p class="fieldset">
						<input class="full-width has-padding" type="submit" value="Зарегистрироваться">
					</p>
				</form>

				<!-- <a href="#0" class="cd-close-form">Close</a> -->
			</div> <!-- cd-signup -->

			<div id="cd-reset-password"> <!-- reset password form -->
				<p class="cd-form-message">Забыли пароль? Укажите Вашу почту, чтобы мы могли выслать вам ссылку для его смены.</p>

				<form class="cd-form">
					<p class="fieldset">
						<label class="image-replace cd-email" for="reset-email">E-mail</label>
						<input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<input class="full-width has-padding" type="submit" value="Reset password">
					</p>
				</form>

				<p class="cd-form-bottom-message"><a href="#0">Back to log-in</a></p>
			</div> <!-- cd-reset-password -->
			<a href="#0" class="cd-close-form">Close</a>
		</div> <!-- cd-user-modal-container -->
	</div> <!-- cd-user-modal -->

<script src="js/main.js"></script> <!-- Gem jQuery -->
</body>
</html>