<!DOCTYPE html>
<html lang="ru,en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/header_footer.css">
    <link rel="stylesheet" type="text/css" href="../static/meme_page_style.css">
    <title>Сомнительные поводы отпраздновать</title>
</head>

<body>

    <header>
        <div><img src="../static/header.png"></div>
         <div><h1><a href="main_page.html">сомнительные поводы отпраздновать</a></h1></div>
        <div><img src="../static/header.png"></div>
    </header>

    <main>
        <img class="meme" src="../static/exampleMeme.jpg" height="540" width="auto">
        <div class="square"><p class="name">С днём соулмейта, user</p> <p class="maintext">Таким образом начало повседневной работы по формированию
            позиции влечет за собой процесс внедрения и модернизации форм развития.
            С другой стороны реализация намеченных плановых заданий требуют определения
            и уточнения модели развития.</p></div>
        <div class="choice">
            <button id="button1"><a >отпраздную</a></button>
            <button id="button2"><a >мне не нраица(</a></button>
        </div>
    </main>

<div class="footer">
			    <div class="content">
					    <p>By <a href="https://vk.com/bluecheeks" target="_blank">nodlya</a></p>
					    <p>By Биборь</p>
					    <p>By <a href="https://www.instagram.com/karatylen/" target="_blank">Кара Небесная</a></p>
			    </div>
    </div>
</body>
</html>